/*CSS reset settings here*/
* {
  margin: 0px;
  padding: 0px;
}
#wrapper {
  width: 950px;
  background-color: silver;
  padding: 20px;
  margin: 0px auto;
}
#header {
  min-height: 150px;
  background-color: green;
  margin-bottom: 20px;
}
#navigation {
  min-height: 300px;
  width: 200px;
  background-color: blue;
  margin-right: 20px;
  display: inline-block;
}
#main_content {
  min-height: 300px;
  height: 400px;
  width: 710px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}
.subcontents {
  min-height: 200px;
  width: 210px;
  background-color: yellow;
  display: inline-block;
  margin: 6px;
}
#advertisement {
  min-height: 120px;
  width: 662px;
  background-color: purple;
  margin: 6px;
}
